<?xml version="1.0" encoding="utf-8"?>

<!--
SPDX-FileCopyrightText: 2026 LibreCode coop and LibreCode contributors
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
	timeoutForSmallTests="900"
	timeoutForMediumTests="900"
	timeoutForLargeTests="900"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnPhpunitDeprecations="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">Unit</directory>
		</testsuite>
		<testsuite name="Api">
			<directory suffix="Test.php">Api</directory>
		</testsuite>
		<testsuite name="ControllerIntegration">
			<directory suffix="Test.php">ControllerIntegration</directory>
		</testsuite>
		<testsuite name="All">
			<directory suffix="Test.php">Api</directory>
			<directory suffix="Test.php">Unit</directory>
			<directory suffix="Test.php">ControllerIntegration</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">../../../profile_fields/appinfo</directory>
			<directory suffix=".php">../../../profile_fields/lib</directory>
		</include>
	</source>
</phpunit>
